i {
    margin-right: 0.3rem;
}

.nav-link.active {
    color: #ffffff;
    border-bottom: 2px sold #ffffff;
  }

.header {
    background-color: #e6e6e6;
    position: sticky;
    top: 0;
    z-index: 100;
}